/* font: font-family: 'Bitter', serif; / Medium 500 / Regular 400 / Light 300*/
html {
    font-size: 62.5%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Bitter', serif;
    color: #480a0a;
    font-size: 3.5rem;
    text-align: center;
    margin: 2.5rem 0;
    font-weight: bold;
}
h2{
    font-family: 'Bitter', serif;
    color: #ff9000;
    font-size: 2.5rem;
    text-align: start;
    margin: 2rem 3rem;
}

h3 {
    font-family: 'Bitter', serif;
    color: #000000;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 3rem;
    font-weight: bold;
}

p{
    font-family: 'Bitter', serif;
    color: #000000;
    font-size: 1.8rem;
    text-align: start;
    margin: 0.2rem 3rem;
    font-weight: 500;
}
.nav-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.nav-header img{
    width: 15rem;
    margin: 2rem 0;
}

.nav-header .nav-pages{
    padding: 0 2rem 1rem 2rem;
    display: flex;
    width: 90%;
    justify-content: space-around;
    justify-items: center;
}

@media (max-width: 600px){
    .nav-header .nav-pages{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-header .nav-pages a{
        margin: 0.5rem 0;
    }
    .nav-pages{
        padding-bottom: 0;
    }

}

.nav-header .nav-pages a{
    font-family: 'Bitter', serif;
    text-decoration: none;
    font-size: 2rem;
    color: #480a0a;
    font-weight: bold;
    transition: 1s;
}
.nav-header .nav-pages a:hover{
    color: #ff9000;
    transition: 1s;
}
header{
    font-family: 'Bitter', serif;
}
.section1{
    width: 100%;
    background-image: url("../img/3696033.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 39rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
 button{
margin-bottom: 3rem;
text-decoration: none;
font-family: 'Bitter', serif;
background-color: #ff9000;
color: #fff;
border: 2px solid #ff9000;
border-radius: 5px;
font-size: 2.5rem;
padding: 1rem 2rem;
transition: 1s;
letter-spacing: 0.1rem;
}
.section1 button:hover{
    color: black;
    transition: 1s;
}

/* galería */

.img-container img{
    width: 20rem;
    border-radius: 10px;
    transition: 1s;
}
.img-container-rectangulo img{
    object-fit: cover;
    width: 20rem;
     height: 30rem;
}

.section2 {
    width: 100%;
    display: grid;
    justify-content: center;
    row-gap: 1rem;
}
.img-container {
    width: 20rem;
    overflow: hidden;
    border-radius: 10px;
}

.img-container img:hover{
    transform: scale(1.2);
    border-radius: 10px;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

@media (min-width: 600px){
    .section2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        grid-row-gap: 2rem;

    }
    .modall{
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0;
        transition: 0.25s ease-out;
        
    }
    .modall.open{
        opacity: 1;
        pointer-events: all;
        z-index: 100;
    }
    .full-img{
        position: absolute;
        height: 70%;
        top: 10%;
        left: 38%;
    
        transition: all 0.25s ease-out;
    }
    .full-img.open{
        transform: translate(-50%, -50%), scale(1);
    }
    .img-container-rectangulo .full-img{
        top: 0;
    }
    
}

/* Capacitaciones */
.section3 img{
    width: 40rem;
    padding: 0 1rem;
}
@media (min-width: 600px){
    .container-section3{
        display: flex;
        flex-direction: row;
        padding-top: 3rem;
    }
    .section3{
        padding: 0 3rem;
    }

    .section3 img{
        width: 45%;
        padding: 0 1rem;
    }
}

/* Testimonios */

.container-testimonios{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    justify-items: center;
    align-items: center;

}
.item-testimonios{
    width: 30rem;
    height: auto;
    border: 1px solid #ff9000;
    border-radius: 10px;
    margin: 0 1rem;
    box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.14);
    -webkit-box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.14);
    -moz-box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.14);
}

.item-testimonios h3{
    margin: 1.5rem 0;
}
.item-testimonios p{
    font-size: 1.5rem;
    margin: 0;
    padding-left: 0.5rem;
    
}

@media (min-width: 660px){
    .container-testimonios{
        grid-template-columns: 1fr 1fr;
        row-gap: 2.5rem;
    }
    .item-testimonios{
        width: 30rem;
        height: 30rem;
    }

}
@media (min-width: 768px){
    .item-testimonios{
        width: 35rem;
        height: 25rem;
    }
    .item-p{
        height: 70%;
        display: grid;
        align-content: center;
    }
    .container-testimonios{
        margin-bottom: 3rem;
    }

}
.item-linea{
   height: fit-content;
   width: fit-content;
   margin: 0 3rem 2rem 3rem;
   border-left: 2px solid #480a0a;
}

/* Itinerante */
.section4 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 2rem;
    margin-top: 1rem;
}
@media (min-width: 678px){
    .section4{
        grid-template-columns: 1fr 1fr ;
    }
}
@media (min-width: 840px){
    .section4{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Footer */
footer{
    background-color: #480a0a;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    padding: 3rem;
    row-gap: 1.5rem;

}
footer p{
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 1rem;
}
footer h4{
    font-size: 2rem;
}

.footer-linea {
    width: 5rem;
    border-bottom: 2px solid #ff9000;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 1rem;

}

.footer-nav a{
    color: #fff;
    text-decoration: none;
    transition: 1s;
    cursor: pointer;
}

.footer-nav a:hover{
    color: #ff9000;
    transition: 1s;
}

.footer-container-items{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    padding-top: 1rem;
}

.footer-icon{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9000;
    border-radius: 5px;
    cursor: pointer;
    
}

footer .footer-icon .svg-inline--fa{
    height: 1.8rem;
    width: auto;
    cursor: pointer;
    color: #fff;
    transition: 1s;
}
footer .footer-mapa{
    padding-top: 1rem;
}

footer .footer-icon .svg-inline--fa:hover {
    color: black;
    transition: 1s;
}
@media (min-width: 678px){
    footer{
        background-color: #480a0a;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr;
        padding: 3rem;
        column-gap: 5rem;
    }
}


.instagram-fotos{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 2rem;
    margin-bottom: 2rem;
}
.instagram-fotos img{
    width: 22rem;
    transition: 1s;
}

.instagram-fotos img:hover{
opacity: 0.5;
transition: 1s;
}

@media (min-width: 700px){
    .instagram-fotos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        justify-content: space-around;
        column-gap: 2rem;
        margin: 1rem 2rem 2rem 3rem ;
    }
}