.talleres-container h3{
    text-align: left;
    font-size: 2.8rem;
    margin: 0;
    overflow: visible;
    font-weight: 500;
}

.talleres-container{
    margin: 4rem 0;
    width: 100%;

}
.talleres-container .taller-titulo{
    width: 9rem;
    height: fit-content;
    border-bottom: 2px solid #ff9000;
    margin: 2rem 4rem;
    
}

.talleres-container .taller-titulo-linea{
    width: 30rem;
}

.container-taller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.container-taller img{
    width: 30rem;
    height: 30rem ;
    border-radius: 10px;
    box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.14);
    -webkit-box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.14);
    -moz-box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.14);
}

.container-taller h3{
    margin: 2rem 4rem;
    font-size: 2rem;
}
.container-taller p{
    margin-left: 4rem;
}


.container-taller button{
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    align-self: center;
    margin: 2rem 4rem;
}

.container-taller button:hover{
    color: black;
    transition: 1s;
}
@media (min-width: 768px){
    .container-taller img{
        width: 30rem;
        height: 30rem;

    }
    .talleres-info{
        width: 50%;
        margin-left: 2rem;
    }

    .container-taller {
        display: flex;
        flex-direction: row;
        margin: 0 4rem 2rem 4rem;
        column-gap: 3rem;
        justify-content: flex-start;
        justify-items: center;
        align-items: center;
    }
}

@media (min-width: 992px){
    .container-taller img{
        width: 30rem;
        height: 30rem;

    }
    .talleres-info{
        width: 60%;
        margin-left: 2rem;
    }

    .container-taller {
        display: flex;
        flex-direction: row;
        margin: 0 4rem 2rem 4rem;
        column-gap: 3rem;
        justify-content: flex-start;
        justify-items: center;
        align-items: center;
    }
    .talleres-container{
        padding-left: 8rem;
    }

}