.talleres-container h3{
    text-align: left;
    font-size:3rem;
    margin: 0!important;
    overflow: visible;
    font-weight: 500;
}

.talleres-container{
    margin: 4rem 0;
    width: 100%;

}
.talleres-container .taller-titulo{
    width: 9rem;
    height: fit-content;
    border-bottom: 2px solid #ff9000;
    margin: 0 4rem;
    
}

.talleres-container .taller-titulo-linea{
    width: 30rem;
}


.container-taller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.container-taller img{
    width: 30rem;
    height: 30rem ;
    border-radius: 10px;
    box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.14);
    -webkit-box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.14);
    -moz-box-shadow: 11px 10px 5px -7px rgba(0,0,0,0.14);
}

.container-taller h3{
    margin: 2rem 4rem;
    font-size: 2rem;
}
.container-taller p{
    margin-left: 4rem;
    font-size: 1.5rem;
}


.container-taller button{
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    align-self: center;
    margin: 2rem 4rem;
}

.container-taller button:hover{
    color: black;
    transition: 1s;
}

.talleres-info{
    margin-top: 2rem;
}
@media (min-width: 768px){
    .container-taller img{
        width: 30rem;
        height: 30rem;

    }
    .talleres-info{
        width: 50%;
        margin-left: 2rem;
        margin-top: 0;
    }

    .container-taller {
        display: flex;
        flex-direction: row;
        margin: 0 4rem 2rem 4rem;
        column-gap: 3rem;
        justify-content: center;
        justify-items:flex-start;
        align-items: flex-start;
    }

    .modal2{
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0;
        transition: 0.25s ease-out;
        display: flex;
        justify-content: center;
        justify-items: center;
        
    }
    .modal2.open{
        opacity: 1;
        pointer-events: all;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .full-img{
        position: absolute;
        height: 70%;
        left: none;
        transition: all 0.25s ease-out;
    }
}

@media (min-width: 992px){
    .container-taller img{
        width: 30rem;
        height: 30rem;

    }
    .talleres-info{
        width: 100%;
        padding-right: 3rem;
    }

    .container-taller {
        display: grid;
        grid-template-columns: 1fr 1fr;

        column-gap: 1rem;
        justify-content: flex-start;
        justify-items: center;
        align-items: flex-start;
    }
}

/*capacitaciones*/
.container-section3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3 img{
    width: 40rem;
    padding: 1rem;

}
@media (min-width: 600px){
    .container-section3{
        display: flex;
        flex-direction: row;
        padding-top: 3rem;
        align-items: flex-start;
        margin: 0 2rem;
    }
    .section3{
        padding: 0 3rem;
    }

    .section3 img{
        width: 45%;
        padding: 0 1rem;
    }
}

/* Itinerante */
.section4 {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 2rem;
    margin: 3rem 0;
}

.img-container{
    width: 30rem;
}
.img-container img{
    width: 30rem;
}

@media (min-width: 840px){
    .section4{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .img-container{
        width: 20rem;
    }
    .img-container img{
        width: 20rem;
    }
}